<div class="page-header">
  <h3 class="inline">Editing task</h3>
  <span class="float_right">
    <%= link_to 'Show', @task, class: 'btn btn-default' %>
    <%= link_to 'Back', tasks_path, class: 'btn btn-default' %>
  </span>
</div>

<%= render 'form' %>

