Last updated at: <span id='last_updated_geolocation'> <%= user.geolocation.updated_at.strftime(' %l:%M %p, %d-%b-%Y') rescue 'Never' %> </span>
<div style='width: 600px;'>
  <div id="map" style='width: 600px; height: 400px;'></div>
</div>



<script>
  $(function () {
    handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'} }, function(){
      updateUserLocation({latitude: '<%= @user.geolocation.try(:latitude) || 28.61 %>', longitude: '<%= @user.geolocation.try(:longitude) || 77.23 %>'})
      handler.map.centerOn(marker);
    });
    handler.getMap().setZoom(15);
  })
</script>


