<div class="page-header">
  <h1 class="inline">User</h1>
  <%= link_to 'Destroy', user_path(@user), method: 'delete', data: { confirm: 'Are you sure?'}, class: 'btn btn-danger float_right' %>
</div>

<%= render 'form' %>

