<div id="chart_container"></div>

<script type="text/javascript">
  $(function () {
      $('#chart_container').highcharts({
          chart: {
              type: 'column'
          },
          title: {
              text: 'Tasks report'
          },
          xAxis: {
              categories: ['Pending', 'In progress', 'Completed']
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Total tasks'
              }
          },
          legend: {
              reversed: true
          },
          plotOptions: {
              series: {
                  stacking: 'normal'
              }
          },
          series: [
                <% User.data_collection_executive.each do |user| %>
                  { name: '<%= user.name %>', data: <%= [user.tasks.pending.count, user.tasks.in_progress.count, user.tasks.completed.count] %>},
                <% end %>
          ]
      });
  });
</script>
